.main {
    height : 100vh;
    width : auto
}

.usability {
    height : 100vh;
    width : auto;
    position : absolute;
    top :0;
    left : 0;
}

body {
    display : grid;
    grid-template-columns: 0px;
    grid-template-rows : 0px
}

.input {
    background-color: #ffffff;
    border-radius : 8px;
    border-width : 10px;

    /* width : 900px; */
    width : 100vh;
    /* height : 180px; */
    height : 24vh;
    
    align-items : center;

}

.input-info {
    display: grid;
    /* width : 900px; */
    width : 100vh;
    grid-gap: 1vh;
    grid-template-columns: 3fr 3fr 3fr; /* PROBLEM HERE */
    font-family : "Poppins";
    font-size : 3vh;
    color : #3c78d8;

    place-items: center;
}


.btn {
    width : 14vh;
    height : 7vh;
    font-family : "Poppins";
    font-size : 3vh;
    background-color : #22c060;
    border-color : #22c060;
    border-radius : 3px
}

.nums {
    font-family : "Poppins";
    font-size : 3vh;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;
}

.sizes {
    font-family : "Poppins";
    font-size : 3vh;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;

}

.retryBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684172086/minecart/RetryBtn_jhupgo_dxpfwi.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 2vh;
    left: 2vh;  
    position: absolute;
  }

.nextBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684345848/minecart/next-btn_w5a1wr.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 2vh;
    left: 165vh;  
    position: absolute;
  }


  .helpBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1691007530/help-btn_uqsjvd.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 88vh;
    left: 165vh;  
    position: absolute;
  }




/* .playBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1683837963/minecart/play-btn_l7fmra.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 2vh;
    left: 2vh;  
    position: absolute;
} */

/* svg {
    height : 100vh;
    width : auto;
}

body {
    display : grid;
    grid-template-columns: 0px;
    grid-template-rows : 0px
}

.input {
    background-color: #ffffff;
    border-radius : 8px;
    border-width : 10px;

    width : 100vh;
    height : 20vh;
    
    align-items : center;

}

.input-info {
    display: grid;
    width : 100vh;
    grid-gap: 10px;
    grid-template-columns: 1vh 3fr 3fr 3fr;
    font-family : "Poppins";
    font-size : 3.2vh;
    color : #3c78d8
}

.btn {
    width : 100px;
    height : 40px;
    font-family : "Poppins";
    font-size : 3vh;
    background-color : #22c060;
    border-color : #22c060;
    border-radius : 3px
}

.nums {
    font-family : "Poppins";
    font-size : 3vh;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;
}

.sizes {
    font-family : "Poppins";
    font-size : 3vh;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;

} */