
.bridge-overlay {
    transform-origin: top left;
    position: absolute;
    display: flex;
}

.main {
    width : 100%;
    height : auto;
    position : absolute;
    top :0;
    left : 0;
}
/* 
.usability {
    width : 100%;
    height : auto;
    position : absolute;
    top : 0;
    left : 0;
} */

.input-img {
    height: 80px;
    
    display : grid;
    grid-template-rows : 15% 85%;
   
}

#inputText {
    font-family : "Poppins";
   
    color : #000;

    padding-left : 4%;
    margin-top : 2%;

    font-size : 22px;
}

.input {
    background-color: #ffffff;
    border-radius : 8px;
    border-width : 10px;

    position: absolute;

    z-index: 1;
    left: calc((1280px - 500px) / 2);
    top: calc((720px - 150px) - 20px);
    width : 500px;
    height : 150px; 

    display : grid;
    grid-template-rows : 50% 50%;
}

.input-info {
    /* display: flex;
    align-items: center;
    gap: 10px; */
    font-family : "Poppins";
    font-size : 22px;
    color : #3c78d8;

    display : grid; 
    grid-template-columns: 3fr 3fr 3fr; 

    place-items: center;
}

.btn {
    width : 120%;
    height : 120%;
    font-family : "Poppins";
    font-size : 100%;
    background-color : #22c060;
    border-color : #22c060;
    border-radius : 3px
}

.nums {
    font-family : "Poppins";
    font-size : 100%;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;
}

.sizes {
    font-family : "Poppins";
    font-size : 100%;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;
}

.retryBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684172086/minecart/RetryBtn_jhupgo_dxpfwi.svg");
    background-size: cover;
    width: 100px;
    padding-bottom: 100px;
    top: 10px;
    left: 10px;  
    position: absolute;
  }

.nextBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684345848/minecart/next-btn_w5a1wr.svg");
    background-size: cover;
    width: 100px;
    padding-bottom: 100px;
    top: 10px;
    left: 1165px;  
    position: absolute;
  }

  

  

  .rotateImg {
    width : 100vw;
    height : auto;

    margin: 0;
    position: absolute;
    top: 20%;
    

}

.mobile {
    display : none;
}



@media only screen and (max-width: 480px) {
    .mobile {
      display: block;
    }
    .not-mobile {
      display: none;
    }
}

/* .main {
    height : 100vh;
    width : auto
}

.usability {
    height : 100vh;
    width : auto;
    position : absolute;
    top :0;
    left : 0;
}

body {
    display : grid;
    grid-template-columns: 0px;
    grid-template-rows : 0px
}

.input-img {
    display : grid;
    grid-template-rows : 0 14vh;
}
#inputText {
    font-family : "Poppins";
    font-size : 3vh;
    color : #000;

    padding-left : 3vh;
    margin-top : 2vh;
}

.input {
    background-color: #ffffff;
    border-radius : 8px;
    border-width : 10px;

    width : 100vh;
    height : 24vh;
    
    align-items : center;
}

.input-info {
    display: grid;
    width : 100vh;
    grid-gap: 1vh;
    grid-template-columns: 3fr 3fr 3fr; 
    font-family : "Poppins";
    font-size : 3vh;
    color : #3c78d8;

    place-items: center;
}


.btn {
    width : 14vh;
    height : 7vh;
    font-family : "Poppins";
    font-size : 3vh;
    background-color : #22c060;
    border-color : #22c060;
    border-radius : 3px
}

.nums {
    font-family : "Poppins";
    font-size : 3vh;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;
}

.sizes {
    font-family : "Poppins";
    font-size : 3vh;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;

}

.retryBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684172086/minecart/RetryBtn_jhupgo_dxpfwi.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 2vh;
    left: 2vh;  
    position: absolute;
  }

.nextBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684345848/minecart/next-btn_w5a1wr.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 2vh;
    left: 165vh;  
    position: absolute;
  }


  .helpBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1691007530/help-btn_uqsjvd.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 88vh;
    left: 165vh;  
    position: absolute;
  } */


/*NON VH VERSION*/

/* .main {
  

    width : 100%;
    height : auto;
    position : absolute;
    top :0;
    left : 0;
}

.usability {
    width : 100%;
    height : auto;
    position : absolute;
    top : 0;
    left : 0;
}

.input-img {
    display : grid;
    grid-template-rows : 0 1fr;
}

#inputText {
    font-family : "Poppins";
    font-size : 2vw; 
   
    color : #000;

    padding-left : 4%;
    margin-top : 2%;
}

.input {
    background-color: #ffffff;
    border-radius : 8px;
    border-width : 10px;

    width : 60%;
    height : auto; 
    

    position : absolute;
    top : 37vw; 
    left : 20%;

    padding-bottom : 1%
    
}

.input-info {
    display: grid;
   
    width : 100%;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33% ; 
    font-family : "Poppins";
    font-size : 2em;
    color : #3c78d8;

    place-items: center;
}


.btn {
    width : 120%;
    height : 120%;
    font-family : "Poppins";
    font-size : 100%;
    background-color : #22c060;
    border-color : #22c060;
    border-radius : 3px
}

.nums {
    font-family : "Poppins";
    font-size : 100%;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;
}

.sizes {
    font-family : "Poppins";
    font-size : 100%;
    color : #3c78d8;
    border : 3px solid #3c78d8;
    border-radius : 3px;

}



.retryBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684172086/minecart/RetryBtn_jhupgo_dxpfwi.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 2vh;
    left: 2vh;  
    position: absolute;
  }

.nextBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684345848/minecart/next-btn_w5a1wr.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 2vh;
    left: 165vh;  
    position: absolute;
  }


  .helpBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1691007530/help-btn_uqsjvd.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 70%;
    left: 90%;  
    position: absolute;
  } */
