<html>
    <link href='https://fonts.googleapis.com/css?family=Yeseva One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <div>
        <div #header id="header" class="top">
           <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688694960/portfolio/logo_hzxpc4.svg" alt="LN Logo" width="50px" height="50px">
           <button #menu class="menu open"> </button>
        </div>
  
        <div #dropdown id="dropdown" class="top">
           <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688696917/portfolio/big-logo_qst3yq.svg" alt="LN Logo" width="75px" height="75px">
           
           <div class="leftdrop">
              <button #menuExit class="menu exit"> </button>
           </div>
  
           <div id="dropbtns">
              <button #gitBtn class="dropbtn">
                 <a href="https://github.com/leiah8" target="_blank">GitHub</a>
              </button>
              <button #resumeBtn1 class="dropbtn">
                  <a routerLink="resume" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank" >Resume</a>
              </button>
              <button #linkedInBtn1 class="dropbtn">
                 <a href="https://www.linkedin.com/in/leiah-nay/" target="_blank">LinkedIn</a>
              </button>
           </div>
  
           <div class="leftdrop">
              <ul class="options">
                 <li>About</li>
                 <li>Projects</li>
                 <li>Experience</li>
                 <li>Contact</li>
              </ul>
           </div>
  
        </div>
     </div>
    
<body>
    <h1>Professional Experience</h1>
    <div id="container">
    <div class="job">
        <h3>Knowledgehook - Content Engineer Assistant (Co-op)</h3>
        <p>hi</p>
    </div>
    <div class="job">
        <h3>Knowledgehook - Gamified Education Content Developer</h3>
        <p>hello</p>
    </div>
        <h3>Schwartz-Reisman Center - Lifeguard and Swim Instructor</h3>
        <p>again</p>
    </div>
    
    <button #gitBtn class="more">
        <a href="https://github.com/leiah8" target="_blank">My Resume</a>
    </button>
</body>
</html>