<html>
    <link href='https://fonts.googleapis.com/css?family=Yeseva One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <div>
      <div id="header" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1690400117/portfolio/logo_l9hcho.svg" alt="LN Logo" width="50px" height="50px">
         <button #menu class="menu open"> </button>
      </div>

      <div #dropdown id="dropdown" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688696917/portfolio/big-logo_qst3yq.svg" alt="LN Logo" width="75px" height="75px">
         
         <div class="leftdrop">
            <button #menuExit class="menu exit"> </button>
         </div>

         <div id="dropbtns">
            <button class="dropbtn">
               <a href="https://github.com/leiah8" target="_blank">GitHub</a>
            </button>
            <button class="dropbtn">
                <a routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank" >Resume</a>
            </button>
            <button class="dropbtn">
               <a href="https://www.linkedin.com/in/leiah-nay/" target="_blank">LinkedIn</a>
            </button>
         </div>

         <div class="leftdrop">
            <ul class="options">
               <li>
                  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
               </li>
               <li>
                  <a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
               </li>
               <li>
                  <a routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">Experience</a>
               </li>
            </ul>
         </div>

      </div>
   </div>
    
<body>
    <h1>Professional Experience</h1>
    <div class="container">
      <div #jobs id="jobs">
         <h3 class="jobTitle">Knowledgehook - Gamified Education Content Developer</h3>
         <div class="job">
            <p>Developed math games in Angular using Typescript, HTML, and CSS, adaptable for various grade levels. Conducted useability testing sessions. Used Socket.io and other frameworks to collaboratively develop the backend of a multiplayer game
            </p>
            <img class="jobImg right" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688612751/portfolio/blank-img_gf81ej.svg" alt="Picture of Project from Knowledgehook">
         
         </div>
         <h3 class="jobTitle">Knowledgehook - Content Engineer Assistant</h3>
         <div class="job">
            <p>Developed 12 interactive math tools using Angular to be used by students globally. Proposed alternative technical solutions to overcome design constraints and increase adaptability. Tested and conducted QA to create detailed bug tickets for projects developed by myself and coworkers. Leveraged GitHub to effectively synchronize and co-develop software projects with other engineers
            </p>
            <img class="jobImg right" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688612751/portfolio/blank-img_gf81ej.svg" alt="Picture of Project from Knowledgehook">
            
         </div>
         <h3 class="jobTitle">Schwartz/Reisman Centre - Lifeguard and Swim Instructor</h3>
         <div class="job">
            <p>Communicated with children of various levels and ages, in both groups and private classes, on the techniques of various swimming strokes and skills 
            </p>
            <img class="jobImg right" src="https://res.cloudinary.com/dqcldf509/image/upload/v1691461237/portfolio/Untitled_drawing_eqi1nm.jpg" alt="Picture of Project from Knowledgehook">

         </div>
         <h3 class="jobTitle">Hatch Coding - Coding Coach</h3>
         <div class="job">
            
            <p>Taught children, in both teams and one-on-one situations, how to code in Python and JavaScript. Discovered and debugged issues in students’ programs 
            </p>
            <img class="jobImg right" src="https://res.cloudinary.com/dqcldf509/image/upload/v1691463411/portfolio/Untitled_drawing_1_diyiqh.jpg" alt="Picture of Project from Knowledgehook">

         </div>
      </div>
    </div>
    
    <button class="more">
        <a href="https://github.com/leiah8" target="_blank">My Resume</a>
    </button>

    <h1>Academic Experience</h1>
    <div class="container">
      <p>I am currently in my third year of the Honours Computer Science Co-op program at McMaster University; however, I have been studying software development since high school. Here are some of the key courses I have taken during my academic career.</p>
    
      <h3>Computer Science III</h3>
      <ul>
         <li>Course 1</li>
      </ul>

      <h3>Computer Science II</h3>
      <ul>
         <li>Course 1</li>
      </ul>

      <h3>Computer Science I</h3>
      <ul>
         <li>Course 1</li>
      </ul>

      <h3>High School</h3>
      <ul>
         <li>Course 1</li>
      </ul>

    </div>
</body>
</html>