html {
    background: #196769;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow-y: scroll;

}

body {
    padding-bottom: 20vh;
}

h1 {
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 42px;
    padding-top: 15vh;
    margin-bottom: 0;

    text-align: center;
    color: white
}

a {
    text-decoration: none;
    color: inherit
}

button {
    background-color: white;
    outline: none;
    border: white;

    font-family: 'Open Sans';
}

button:active {
    background-color : #dddddd
}

button:hover {
    cursor: pointer;
}

.more {
    width: 150px;
    height: 50px;
    border-radius: 10px;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

h3 {
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: 28px;
    color: white;

    padding-top: 5vh
}

p,
li {
    font-family: 'Open Sans';
    font-size: 100%;
    color: white;
}


.container {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: min(70vw, 1000px);

    padding: 5vw;
}



.job {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 5vh;
}


.jobImg {
    width: max(20vw, 150px);
    height: max(20vw, 150px);

    border-radius: 10%;
    border: 1vw solid #fff;
}

.right {
    display: block;
    margin-left: auto;
}

.jobTitle {
    text-align: center
}



/*drop down menu and header*/

.top {
    width : 100%;

    display : grid; 

    position : fixed;
    top : 0;
    left : 0;

    /* padding-top: 1.5vh; 
    padding-bottom : 1vh */
}

.logo {
    margin-left: 10px; 

}

.menu {
    width : 50px;
    height : 50px;

    position : fixed; 
    top : 1.5vh; 
    right : 10px;

    background-size: cover;
    padding-bottom: 50px;
}

/*header*/

#header {
    height : auto;
    background-color : white;
    grid-template-columns : 2fr 2fr;
    grid-template-rows: 1fr;

    padding-top: 1.5vh; 
    padding-bottom : 1vh

}

.open {
    background-image : url("https://res.cloudinary.com/dqcldf509/image/upload/v1690400117/portfolio/menu-btn_qoh4g8.svg");
}

/*drop down*/

#dropdown {
    height :auto;
    background-color : #014345;

    grid-template-columns : 75% 25%;

    padding-top: 1.5vh; 
    padding-bottom : 1vh
}

.exit {
    background-image : url("https://res.cloudinary.com/dqcldf509/image/upload/v1690400117/portfolio/exit-menu-btn_magazp.svg");
}

.leftdrop {
    background-color : white;

    margin-top: -1.5vh; 
    margin-bottom : -1vh
}

#dropbtns {
    padding-bottom : 20px;

    display:block;
    margin-left : auto;
    margin-right: auto;
}

.dropbtn {
    width : 120px;
    height : 120px;
    border-radius : 12px;

    margin : 15px
}



.options {
    list-style: none;
    margin-top: 0;
}

.options>li {
    margin-bottom: 20px;
    font-family: 'Yeseva One';
    font-weight: normal;
    font-size: min(3vw, 28px);
    color: #196769;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    h3 {
        font-size: 16px;
    }

    .container {
        width: 90vw
    }

    .job {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5vh;
    }


    .right, .left {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* drop down*/

    /* drop down*/

    #dropdown {
    
        grid-template-columns : 60% 40%;
    }

    #dropdown > .logo {
        width : 50px;
        height : 50px;
    }

    .dropbtn {
        width : 85%;
        /* height : 35px; */
        height : max(35px, 40%)    }

    #dropbtns {
        padding-bottom : 20px;
        margin-left : 0;
        margin-right : 0;
    
        display : grid;
        grid-template-rows: 3fr 3fr 3fr;

    }


    .options {
        list-style: none;
        /* margin-top: 20%; */
        margin-top : 25px;

        padding-left : 10px;
    }
    
    .options>li {
        margin-bottom: 30%;
        
        font-size: 22px;
        color: #196769;
    }
    





}