<html>
    <link href='https://fonts.googleapis.com/css?family=Yeseva One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <div>
      <div id="header" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1690400117/portfolio/logo_l9hcho.svg" alt="LN Logo" width="50px" height="50px">
         <button #menu class="menu open"> </button>
      </div>

      <div #dropdown id="dropdown" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688696917/portfolio/big-logo_qst3yq.svg" alt="LN Logo" width="75px" height="75px">
         
         <div class="leftdrop">
            <button #menuExit class="menu exit"> </button>
         </div>

         <div id="dropbtns">
            <button class="dropbtn" onclick=" window.open('https://github.com/leiah8', '_blank');">
               GitHub <!-- <a href="https://github.com/leiah8" target="_blank">GitHub</a> -->
            </button>
            <button class="dropbtn" onclick=" window.open('/resume', '_blank');">
                Resume <!-- <a routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank" >Resume</a> -->
            </button>
            <button class="dropbtn" onclick=" window.open('https://www.linkedin.com/in/leiah-nay/', '_blank');">
               LinkedIn <!-- <a href="https://www.linkedin.com/in/leiah-nay/" target="_blank">LinkedIn</a> -->
            </button>
         </div>

         <div class="leftdrop">
            <ul class="options">
               <li>
                  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
               </li>
               <li>
                  <a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
               </li>
               <li>
                  <a routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">Experience</a>
               </li>
            </ul>
         </div>

      </div>
   </div>
    
<body>
    <h1>Professional Experience</h1>
    <div class="container">
      <div #jobs id="jobs">
         <h3 class="jobTitle">Knowledgehook - Gamified Education Content Developer</h3>
         <div class="job">
            <div>
               <p>May 2023 - August 2023</p>
            <ul>
               <li>Developed four mini-games in Angular using Typescript, HTML and CSS</li>
               <li>Designed adaptable games that can be utilized by multiple grade levels</li>
               <li>Conducted testing and quality assurance, including numerous usability testing sessions with colleagues</li>
               <li>Utilized Socket.io to develop the base server-client architecture for a multiplayer game</li>
               <li>Leveraged GitHub to effectively synchronize and co-develop software projects with other engineers</li>
            </ul>
            </div>
            <img class="jobImg right" src="https://res.cloudinary.com/dqcldf509/image/upload/v1691871218/portfolio/Untitled_drawing_ix3xud.png" alt="Picture of Project from Knowledgehook">
         
         </div>
         <h3 class="jobTitle">Knowledgehook - Content Engineer Assistant</h3>
         <div class="job">
            <div>
               <p>May 2022 - August 2022</p>
            <ul>
               <li>Developed twelve interactive math tools using Angular that have been used by students globally</li>
               <li>Proposed alternative technical solutions to overcome design constraints and increase adaptability</li>
               <li>Collaborated with educators and fellow developers to design interactive math questions for students of varying levels and ages</li>
               <li>Tested and conducted QA to create detailed bug tickets for projects developed by myself and coworkers</li>

            </ul>
            </div>
            <img class="jobImg right" src="https://res.cloudinary.com/dqcldf509/image/upload/v1691871218/portfolio/Untitled_drawing_ix3xud.png" alt="Picture of Project from Knowledgehook">
            
         </div>
         <h3 class="jobTitle">Schwartz/Reisman Centre - Lifeguard and Swim Instructor</h3>
         <div class="job">
            <div>
               <p>July 2021 - January 2022</p>
               <ul>
                  <li>Instructed of various levels and ages, in both groups and private classes, on the techniques of multiple swimming strokes and skills </li> 
                  <li>Communicated the same skills and concepts to numerous swimmers using different teaching strategies including demonstrations as well as physical and verbal corrections </li> 
                  <li>Demonstrated attention to detail while surveying the pool and deck for possible hazards or potential problems </li> 

               </ul>
            </div>
            <img class="jobImg right" src="https://res.cloudinary.com/dqcldf509/image/upload/v1691871413/portfolio/Untitled_drawing_1_gcuvdz.png" alt="Picture of Project from Knowledgehook">

         </div>
         <h3 class="jobTitle">Hatch Coding - Coding Coach</h3>
         <div class="job">
            <div>
               <p>March 2021 - August 2021</p>
            <ul>
               <li>Taught children of various ages, in both teams and one-on-one situations, coding principles in JavaScript and Python </li>
                  <li>Discovered and debugged numerous problems in students’ projects, often analyzing over a thousand lines of code </li>

            </ul>
            </div>
            <img class="jobImg right" src="https://res.cloudinary.com/dqcldf509/image/upload/v1691463411/portfolio/Untitled_drawing_1_diyiqh.jpg" alt="Picture of Project from Knowledgehook">

         </div>
      </div>
    </div>
    
    <button class="more" onclick=" window.open('/resume', '_blank');">
      My Resume <!-- <a routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank" >My Resume</a> -->
    </button>

    

    <h1>Academic Experience</h1>
    <div class="container">
      <p>I am currently in my third year of the Honours Computer Science Co-op program at McMaster University; however, I have been studying software development since high school. Here are some of the key courses I will/have completed during my academic career.</p>
    
      <h3>2023 - 2024</h3>
      <ul>
         <li>COMPSCI 3AC3: Algorithms and Complexity</li>
         <li>COMPSCI 3MI3: Principles of Programming Languages</li>
         <li>COMPSCI 3N03: Computer Networks and Security</li>
         <li>COMPSCI 3SH3: Operating Systems</li>
         <li>COMPSCI 3TB3: Syntax-Based Tools and Compilers</li>
         <li>COMPSCI 3IS3: Information Security</li>
         <li>COMPSCI 3DM3: Introduction to Data Mining</li>
      </ul>

      <h3>2022 - 2023</h3>
      <ul>
         <li>COMPSCI 2AC3: Automata and Computability</li>
         <li>COMPSCI 2C03: Data Structures and Algorithms</li>
         <li>COMPSCI 2DB3: Databases</li>
         <li>COMPSCI 2GA3: Computer Architecture</li>
         <li>COMPSCI 2ME3: Introduction to Software Development (Object Oriented Programming)</li>
         <li>COMPSCI 2SD3: Concurrent Systems</li>
         <li>COMPSCI 2XC3: Algorithms and Software Design</li>
      </ul>

      <h3>2021 - 2022</h3>
      <ul>
         <li>MATH 1B03: Linear Algebra</li>
         <li>COMPSCI 1DM3: Discrete Mathematics for Computer Science</li>
         <li>COMPSCI 1XD3: Introduction to Software Design Using Web Programming</li>
      </ul>

    </div>
</body>
</html>