<html>
    <link href='https://fonts.googleapis.com/css?family=Yeseva One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    
<body>
    <h1>My Projects</h1>
    <div id="container">
    <ul>
        <li>
            <a routerLink="minecart" routerLinkActive="active" ariaCurrentWhenActive="page" >Minecart</a>
        </li>
        <li>Material Bridge</li>
        <li>Moons and Planets</li>
        <li>Maze Dash</li>
        <li>Maze Solver</li>
    </ul>
    </div>
    <a href="https://github.com/leiah8" target="_blank">
        <button #gitBtn class="more">GitHub</button>
    </a>
</body>
</html>