<html>
    <link href='https://fonts.googleapis.com/css?family=Yeseva One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
     
    <div>
      <div id="header" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1690400117/portfolio/logo_l9hcho.svg" alt="LN Logo" width="50px" height="50px">
         <button #menu class="menu open"> </button>
      </div>

      <div #dropdown id="dropdown" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688696917/portfolio/big-logo_qst3yq.svg" alt="LN Logo" width="75px" height="75px">
         
         <div class="leftdrop">
            <button #menuExit class="menu exit"> </button>
         </div>

         <div id="dropbtns">
            <button class="dropbtn" onclick=" window.open('https://github.com/leiah8', '_blank');">
               GitHub <!-- <a href="https://github.com/leiah8" target="_blank">GitHub</a> -->
            </button>
            <button class="dropbtn" onclick=" window.open('resume', '_blank');">
                Resume <!-- <a routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank" >Resume</a> -->
            </button>
            <button class="dropbtn" onclick=" window.open('https://www.linkedin.com/in/leiah-nay/', '_blank');">
               LinkedIn <!-- <a href="https://www.linkedin.com/in/leiah-nay/" target="_blank">LinkedIn</a> -->
            </button>
         </div>

         <div class="leftdrop">
            <ul class="options">
               <li>
                  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
               </li>
               <li>
                  <a routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
               </li>
               <li>
                  <a routerLink="/experience" routerLinkActive="active" ariaCurrentWhenActive="page">Experience</a>
               </li>
            </ul>
         </div>

      </div>
   </div>

<body>
    <h1>My Projects</h1>
    <div id="container">
    <ul class="projectOptions">
        <li onclick="window.open('projects/minecart', '_blank');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1692150089/portfolio/Screenshot_2023-08-15_213936_yogj1w.png');background-size:cover">
            Minecart <!-- <a routerLink="minecart" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Minecart</a> -->
        </li>
        <li onclick="window.open('projects/materialbridge');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1691445181/portfolio/bridge-screenshot2_qxguqk.png');background-size:cover">
            Material Bridge<!-- <a routerLink="materialbridge" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Material Bridge</a> -->
        </li>
        <li onclick="window.open('projects/moonsplanets');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1691445496/portfolio/Screenshot_2023-08-07_175354_oa8wts.png');background-size:cover">
            Moons and Planets <!-- <a routerLink="moonsplanets" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Moons and Planets</a> -->
         </li>
        <li onclick="window.open('projects/flowers');"style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1691445994/portfolio/flowers-screenshot_pu26ln.png');background-size:cover">
            Flowers <!-- <a routerLink="flowers" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Flowers</a> -->
        </li>

        <li onclick="window.open('projects/planetfactory');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1691875865/portfolio/planets_screenshot_q5avrv.png');background-size:cover">
            Planet Factory<!-- <a routerLink="planetfactory" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Planet Factory</a> -->
         </li>

       <li onclick="window.open('projects/tradeblocks');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1691875865/portfolio/trade_blocks_screenshot_jokqua.png');background-size:cover">
            Trade Blocks <!-- <a routerLink="tradeblocks" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Trade Blocks</a> -->
         </li>

         <li onclick="window.open('https://stabl.rocks/ShowModulePublish?modulePublishId=c9add1f7-b4f7-43a2-9863-709fce8e7ad2');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1705291245/portfolio/Screenshot_2024-01-14_at_10.52.42_PM_ot1qgl.png');background-size:cover">
            Swipe Card  <!-- <a routerLink="tradeblocks" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Trade Blocks</a> -->
         </li>

         <li onclick="window.open('https://stabl.rocks/ShowModulePublish?modulePublishId=5cd005e7-2b1d-4e75-95d7-bf8d800391cf');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1705292020/portfolio/Screenshot_2024-01-14_at_10.55.13_PM_zngceg_birko0.png');background-size:cover">
            Dragon Curve  <!-- <a routerLink="tradeblocks" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Trade Blocks</a> -->
         </li>

         <li onclick="window.open('https://stabl.rocks/ShowModulePublish?modulePublishId=52d6a2ea-45a0-4cf3-b505-9b1c507a9fdb');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1705291243/portfolio/Screenshot_2024-01-14_at_10.53.56_PM_igdw5m.png');background-size:cover">
            Passcode  <!-- <a routerLink="tradeblocks" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Trade Blocks</a> -->
         </li>

         <li onclick="window.open('https://stabl.rocks/ShowModulePublish?modulePublishId=2657669b-c71d-4937-a8ab-8f12032ffcec');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1705291243/portfolio/Screenshot_2024-01-14_at_10.53.17_PM_ta9uca.png');background-size:cover">
            Count by Fruits  <!-- <a routerLink="tradeblocks" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Trade Blocks</a> -->
         </li>
        
        <!-- <li>Maze Dash</li>
        <li>Maze Solver</li> -->
      
    </ul>
    </div>
    
        <button class="more" onclick=" window.open('https://github.com/leiah8', '_blank');">
         GitHub <!-- <a href="https://github.com/leiah8" target="_blank">GitHub</a> -->
        </button>
</body>
</html>