
<html>
   <link href='https://fonts.googleapis.com/css?family=Yeseva One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<div class="app"> 
   <svg #top class="top"
      width="1280"
      height="300"
      viewBox="0 0 338.66667 79.375008"
      version="1.1"
      id="svg1041"
      inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
      sodipodi:docname="drop-down.svg"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg">
     
     <defs
        id="defs1038" />
     <g
        inkscape:label="Layer 1"
        inkscape:groupmode="layer"
        id="layer1"
        transform="translate(130.56326,-220.72688)">
       <g #header
          id="header"
          transform="translate(0,79.375)">
         <rect
            style="fill:#ffffff;fill-opacity:1;stroke-width:0.193093;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
            id="rect739"
            width="338.66666"
            height="13.229167"
            x="-130.56326"
            y="141.35188"
            ry="0" />
         <g
            id="logo-8"
            transform="matrix(0.40000001,0,0,0.40000001,-130.29869,141.61646)"
            style="fill:#3aacaf;fill-opacity:1">
           <path
              style="font-weight:bold;font-size:9.17223px;line-height:1.25;font-family:'Perpetua Titling MT';-inkscape-font-specification:'Perpetua Titling MT, Bold';fill:#3aacaf;fill-opacity:1;stroke-width:0.0797338"
              d="m 12.54956,29.009993 v -0.320192 l 1.059456,-0.324902 q 0.579172,-0.160096 0.833442,-0.626256 0.258977,-0.466162 0.258977,-1.106546 V 11.173437 Q 14.348284,10.40121 14.136391,10.015097 13.929208,9.628982 13.670231,9.355878 13.415961,9.082773 12.968633,8.663698 l -0.54621,-0.54621 V 7.797296 h 5.688112 L 28.780452,22.356597 V 10.241114 q 0,-0.645094 -0.2119,-1.158341 -0.20718,-0.51325 -0.84757,-0.673346 L 26.661532,8.117488 V 7.797296 h 4.59569 v 0.320192 l -0.87111,0.291939 q -0.57916,0.188349 -0.70631,0.673346 -0.12712,0.480288 -0.12712,1.125378 v 18.896015 h -1.79873 L 15.473662,12.232893 v 14.399204 q 0,0.640384 0.193059,1.092419 0.193054,0.452036 0.805186,0.640383 l 0.960574,0.324902 v 0.320192 z"
              id="path4259-2" />
           <path
              style="font-weight:bold;font-size:9.17223px;line-height:1.25;font-family:'Perpetua Titling MT';-inkscape-font-specification:'Perpetua Titling MT, Bold';fill:#3aacaf;fill-opacity:1;stroke-width:0.0797338"
              d="m 2.645833,23.85853 v -0.320192 l 0.678054,-0.25898 Q 3.997229,23.025089 4.171452,22.65781 4.350383,22.285824 4.350383,21.64073 V 4.863633 q 0,-0.645093 -0.193058,-1.031207 Q 3.964269,3.446313 3.323887,3.225005 L 2.645833,2.966025 V 2.645833 h 8.197847 v 0.320192 l -0.579168,0.25898 Q 9.652381,3.446313 9.426362,3.851261 9.205053,4.251502 9.205053,4.896592 v 18.316844 h 4.948845 q 1.186593,0 1.746926,-0.574462 0.565045,-0.579169 1.083002,-1.671586 l 1.252514,-2.702795 h 0.320192 l -0.287229,5.593937 z"
              id="path3382-6" />
         </g>
         <g #menu id="menu">
            <rect
               style="font-weight:bold;font-size:9.17223px;line-height:1.25;font-family:'Perpetua Titling MT';-inkscape-font-specification:'Perpetua Titling MT, Bold';fill:#2a98b0;fill-opacity:0;stroke-width:0.149149;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
               id="rect4261-4"
               width="14.710447"
               height="13.229167"
               x="190.74712"
               y="141.35188"
               ry="0" />
            <g
               id="g5072-1"
               transform="matrix(0.61776155,0,0,0.50000001,-2.6695362,140.1844)"
               style="fill:#3aacaf;fill-opacity:1">
            <rect
               style="font-weight:bold;font-size:9.17223px;line-height:1.25;font-family:'Perpetua Titling MT';-inkscape-font-specification:'Perpetua Titling MT, Bold';fill:#3aacaf;fill-opacity:1;stroke-width:0.246711;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
               id="rect5051-5"
               width="21.43125"
               height="3.175"
               x="314.28336"
               y="7.3620563"
               ry="0.73746556" />
            <use
               x="0"
               y="0"
               xlink:href="#rect5051-5"
               id="use5089"
               transform="translate(2.4233333e-5,13.75833)"
               style="fill:#3aacaf;fill-opacity:1" />
            <use
               x="0"
               y="0"
               xlink:href="#rect5051-5"
               id="use5091"
               transform="translate(2.4233333e-5,6.879165)"
               style="fill:#3aacaf;fill-opacity:1" />
            </g>
         </g>
       </g>
       <g #dropdown
          id="drop-down"
          transform="translate(0,79.374997)">
         <rect
            style="fill:#489799;fill-opacity:1;stroke-width:0.973153;stroke-linecap:round;stroke-linejoin:round;stop-color:#000000"
            id="rect1345"
            width="338.66666"
            height="79.375"
            x="-130.56326"
            y="141.35188"
            ry="0.48065677" />
         <g
            id="logo"
            transform="matrix(0.83727066,0,0,0.83727066,-127.22228,142.57619)"
            style="fill:#ffffff;fill-opacity:1">
           <path
              style="font-weight:bold;font-size:9.17223px;line-height:1.25;font-family:'Perpetua Titling MT';-inkscape-font-specification:'Perpetua Titling MT, Bold';fill:#ffffff;fill-opacity:1;stroke-width:0.0797338"
              d="m 12.54956,29.009993 v -0.320192 l 1.059456,-0.324902 q 0.579172,-0.160096 0.833442,-0.626256 0.258977,-0.466162 0.258977,-1.106546 V 11.173437 Q 14.348284,10.40121 14.136391,10.015097 13.929208,9.628982 13.670231,9.355878 13.415961,9.082773 12.968633,8.663698 l -0.54621,-0.54621 V 7.797296 h 5.688112 L 28.780452,22.356597 V 10.241114 q 0,-0.645094 -0.2119,-1.158341 -0.20718,-0.51325 -0.84757,-0.673346 L 26.661532,8.117488 V 7.797296 h 4.59569 v 0.320192 l -0.87111,0.291939 q -0.57916,0.188349 -0.70631,0.673346 -0.12712,0.480288 -0.12712,1.125378 v 18.896015 h -1.79873 L 15.473662,12.232893 v 14.399204 q 0,0.640384 0.193059,1.092419 0.193054,0.452036 0.805186,0.640383 l 0.960574,0.324902 v 0.320192 z"
              id="path4259" />
           <path
              style="font-weight:bold;font-size:9.17223px;line-height:1.25;font-family:'Perpetua Titling MT';-inkscape-font-specification:'Perpetua Titling MT, Bold';fill:#ffffff;fill-opacity:1;stroke-width:0.0797338"
              d="m 2.645833,23.85853 v -0.320192 l 0.678054,-0.25898 Q 3.997229,23.025089 4.171452,22.65781 4.350383,22.285824 4.350383,21.64073 V 4.863633 q 0,-0.645093 -0.193058,-1.031207 Q 3.964269,3.446313 3.323887,3.225005 L 2.645833,2.966025 V 2.645833 h 8.197847 v 0.320192 l -0.579168,0.25898 Q 9.652381,3.446313 9.426362,3.851261 9.205053,4.251502 9.205053,4.896592 v 18.316844 h 4.948845 q 1.186593,0 1.746926,-0.574462 0.565045,-0.579169 1.083002,-1.671586 l 1.252514,-2.702795 h 0.320192 l -0.287229,5.593937 z"
              id="path3382" />
         </g>
         <g
            id="g5144">
          
           <rect
              style="fill:#ffffff;fill-opacity:1;stroke-width:1.10586;stroke-linecap:round;stroke-linejoin:round;stop-color:#000000"
              id="rect4342"
              width="88.83152"
              height="79.375"
              x="119.27188"
              y="141.35188"
              ry="0.47928083" />
           <text
              xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:9.325px;line-height:1.25;font-family:'Bodoni MT';-inkscape-font-specification:'Bodoni MT, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#3aacaf;fill-opacity:1;stroke-width:0.174843"
              x="134.91786"
              y="167.0482"
              id="text1766-7"
              transform="scale(0.96640375,1.0347642)"><tspan
                sodipodi:role="line"
                id="tspan1764-3"
                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:9.325px;font-family:'Bodoni MT';-inkscape-font-specification:'Bodoni MT, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#3aacaf;fill-opacity:1;stroke-width:0.174843"
                x="134.91786"
                y="167.0482">About</tspan></text>
           <g #menuExit
              id="g5072"
              transform="matrix(0.61776155,0,0,0.50000001,-2.6695372,140.1844)"
              style="fill:#3aacaf;fill-opacity:1">
              <rect
              style="font-weight:bold;font-size:9.17223px;line-height:1.25;font-family:'Perpetua Titling MT';-inkscape-font-specification:'Perpetua Titling MT, Bold';fill:#2a98b0;fill-opacity:0.01;stroke-width:0.149149;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
              id="rect4261"
              width="14.710447"
              height="13.229167"
              x="190.21796"
              y="144.52684"
              ry="0" />
             <rect
                style="font-weight:bold;font-size:9.17223px;line-height:1.25;font-family:'Perpetua Titling MT';-inkscape-font-specification:'Perpetua Titling MT, Bold';fill:#3aacaf;fill-opacity:1;stroke-width:0.249465;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
                id="rect5051"
                width="24.087961"
                height="2.8882356"
                x="231.45665"
                y="270.27795"
                ry="0.67085803"
                transform="matrix(0.62907406,-0.77734537,0.6291815,0.77725841,0,0)" />
             <rect
                style="font-weight:bold;font-size:9.17223px;line-height:1.25;font-family:'Perpetua Titling MT';-inkscape-font-specification:'Perpetua Titling MT, Bold';fill:#3aacaf;fill-opacity:1;stroke-width:0.249465;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
                id="rect4348"
                width="24.087961"
                height="2.8882356"
                x="-283.7395"
                y="-244.97601"
                ry="0.67085803"
                transform="matrix(-0.62907406,-0.77734537,-0.6291815,0.77725841,0,0)" />
           </g>
           <text
              xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:9.325px;line-height:1.25;font-family:'Bodoni MT';-inkscape-font-specification:'Bodoni MT, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#3aacaf;fill-opacity:1;stroke-width:0.174843"
              x="134.91786"
              y="178.20358"
              id="text5105"
              transform="scale(0.96640375,1.0347642)"><tspan
                sodipodi:role="line"
                id="tspan5103"
                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:9.325px;font-family:'Bodoni MT';-inkscape-font-specification:'Bodoni MT, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#3aacaf;fill-opacity:1;stroke-width:0.174843"
                x="134.91786"
                y="178.20358">Projects</tspan></text>
           <text
              xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:9.325px;line-height:1.25;font-family:'Bodoni MT';-inkscape-font-specification:'Bodoni MT, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#3aacaf;fill-opacity:1;stroke-width:0.174843"
              x="134.91786"
              y="191.64014"
              id="text5109"
              transform="scale(0.96640375,1.0347642)"><tspan
                sodipodi:role="line"
                id="tspan5107"
                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:9.325px;font-family:'Bodoni MT';-inkscape-font-specification:'Bodoni MT, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#3aacaf;fill-opacity:1;stroke-width:0.174843"
                x="134.91786"
                y="191.64014">Experience</tspan></text>
           <text
              xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:9.325px;line-height:1.25;font-family:'Bodoni MT';-inkscape-font-specification:'Bodoni MT, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#3aacaf;fill-opacity:1;stroke-width:0.174843"
              x="134.29597"
              y="205.07668"
              id="text5113"
              transform="scale(0.96640375,1.0347642)"><tspan
                sodipodi:role="line"
                id="tspan5111"
                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:9.325px;font-family:'Bodoni MT';-inkscape-font-specification:'Bodoni MT, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#3aacaf;fill-opacity:1;stroke-width:0.174843"
                x="134.29597"
                y="205.07668">Resume</tspan></text>
         </g>
         <g
            id="g5180"
            transform="translate(8.9958335)">
           <rect
              style="fill:#ffffff;fill-opacity:1;stroke-width:0.139958;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
              id="rect5343"
              width="44.446304"
              height="44.446304"
              x="-94.197121"
              y="167.02638"
              ry="4.3866963" />
           <text
              xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:6.10107px;line-height:1.25;font-family:Dubai;-inkscape-font-specification:'Dubai, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.125448"
              x="-80.857109"
              y="191.33304"
              id="text1882"><tspan
                sodipodi:role="line"
                id="tspan1880"
                x="-80.857109"
                y="191.33304"
                style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:6.10107px;font-family:Dubai;-inkscape-font-specification:'Dubai, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.125448">GitHub</tspan></text>
         </g>
         <g
            id="g5185"
            transform="matrix(0.78610765,0,0,0.78610765,8.0287044,29.015037)">
           <rect
              style="fill:#ffffff;fill-opacity:1;stroke-width:0.178039;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
              id="rect3494"
              width="56.539719"
              height="56.539719"
              x="-37.917751"
              y="175.56291"
              ry="5.5802746" />
           <text
              xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:7.76111px;line-height:1.25;font-family:Dubai;-inkscape-font-specification:'Dubai, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.159581"
              x="-22.725359"
              y="206.48318"
              id="text3629"><tspan
                sodipodi:role="line"
                id="tspan3627"
                x="-22.725359"
                y="206.48318"
                style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:7.76111px;font-family:Dubai;-inkscape-font-specification:'Dubai, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.159581">LinkedIn</tspan></text>
         </g>
         <g
            id="g5190"
            transform="matrix(0.78610765,0,0,0.78610765,19.141207,29.015037)">
           <rect
              style="fill:#ffffff;fill-opacity:1;stroke-width:0.178039;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
              id="rect3496"
              width="56.539719"
              height="56.539719"
              x="28.625372"
              y="175.56291"
              ry="5.5802746" />
           <text
              xml:space="preserve"
              style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:7.76111px;line-height:1.25;font-family:Dubai;-inkscape-font-specification:'Dubai, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.159581"
              x="44.64431"
              y="206.34737"
              id="text3633"><tspan
                sodipodi:role="line"
                id="tspan3631"
                x="44.64431"
                y="206.34737"
                style="font-style:normal;font-variant:normal;font-weight:300;font-stretch:normal;font-size:7.76111px;font-family:Dubai;-inkscape-font-specification:'Dubai, Light';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.159581">Contact</tspan></text>
         </g>
       </g>
     </g>
   </svg>
   
   
   
   </div> 
   
<body>
   <h1>Leiah Soriya Nay</h1>

   <h3> A bit about me</h3>
   <div class="row one">
   <p id="intro">Hi! My name is Leiah and I'm in my third year of the 
      Computer Science Co-op program at McMaster University. 
      I fell in love with computer science in the tenth grade 
      and have since become proficient in languages such as 
      Java, Python, C, and Javascript. I have also thoroughly 
      studied OOP, various data structures and algorithms, 
      software development patterns, databases, and so much more. 
      I am particularly interested in learning more about cyber 
      security, cloud networks, and machine learning. 
   </p>
   <img class="selfie" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688612751/portfolio/blank-img_gf81ej.svg" alt="Picture of Leiah Nay">
   </div>

   <h3> My Projects </h3>

   <div class="row two">
      <button class="project"> Project 1</button>
      <button class="project"> Project 2</button>
      <button class="project"> Project 3</button>
   </div>

   <div class="center">
   <button class="more">See More</button>
   </div>


   <div class="experience">

   <div>
   <h3> My Experience </h3>

   <div class="column">
      <button class="job"> Job 1</button>
      <button class="job"> Job 2</button>
      <button class="job"> Job 3</button>
   </div>
   </div>

   <div id="jobexplanations">
      <h3> Job 1 </h3>
      <p> Explanation 1 or Bullet points??</p>
   </div>
   </div>

   <button class="more">My Resume</button>

   <h3 class="center"> Contact Me </h3>

   <div class="row two">
      <button class="more">Email</button>
      <button class="more">Phone Number</button>
      <button class="more">LinkedIn</button>
   </div>

   <p class="center end">Designed and Built by Leiah Nay</p>





</body>
</html>