
<html>
   <link href='https://fonts.googleapis.com/css?family=Yeseva One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

   <div>
      <div id="header" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1690400117/portfolio/logo_l9hcho.svg" alt="LN Logo" width="50px" height="50px">
         <button #menu class="menu open"> </button>
      </div>

      <div #dropdown id="dropdown" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688696917/portfolio/big-logo_qst3yq.svg" alt="LN Logo" width="75px" height="75px">
         
         <div class="leftdrop">
            <button #menuExit class="menu exit"> </button>
         </div>

         <div id="dropbtns">
            <button class="dropbtn" onclick=" window.open('https://github.com/leiah8', '_blank');">
               GitHub <!-- <a href="https://github.com/leiah8" target="_blank">GitHub</a> -->
            </button>
            <button class="dropbtn" onclick=" window.open('/resume', '_blank');">
                Resume <!-- <a routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank" >Resume</a> -->
            </button>
            <button class="dropbtn" onclick=" window.open('https://www.linkedin.com/in/leiah-nay/', '_blank');">
               LinkedIn <!-- <a href="https://www.linkedin.com/in/leiah-nay/" target="_blank">LinkedIn</a> -->
            </button>
         </div>

         <div class="leftdrop">
            <ul class="options">
               <li>
                  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
               </li>
               <li>
                  <a routerLink="projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
               </li>
               <li>
                  <a routerLink="experience" routerLinkActive="active" ariaCurrentWhenActive="page">Experience</a>
               </li>
            </ul>
         </div>

      </div>
   </div>
   
<body>
   <h1>Leiah Soriya Nay</h1>

   <h3> About Me</h3>
   <div class="row one">
   <p id="intro">Hi! My name is Leiah and I'm in my third year of the Computer Science Co-op program at McMaster University. 
      I fell in love with computer science in the tenth grade and have since become proficient in many languages including 
      Java, Python, C, and JavaScript. I have thoroughly studied OOP, data structures and algorithms, software development 
      patterns, databases, and so much more throughout high school and university. <br> <br> Over the past two summers, I have worked 
      in front-end web development at Knowledgehook; however, I am looking to branch out and experience all things software. 
      I am particularly interested in learning more about cyber security, and machine learning. 
   </p>
   <img class="selfie" src="https://res.cloudinary.com/dqcldf509/image/upload/v1691442741/portfolio/LeiahN_picture_2_f2fx0q.jpg" alt="Picture of Leiah Nay">
   </div>

   <h3> My Projects </h3>

   <div class="row three">
      <button class="project" onclick=" window.open('projects/minecart');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1691445613/portfolio/minecart-screenshot_n9inby.png');background-size:cover"> 
         Minecart <!-- <a routerLink="projects/minecart" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Minecart</a> -->
      </button>
      <button class="project" onclick=" window.open('projects/materialbridge');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1691445181/portfolio/bridge-screenshot2_qxguqk.png');background-size:cover"> 
         Material Bridge<!-- <a routerLink="projects/materialbridge" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Material Bridge</a> -->
      </button>
      <button class="project" onclick=" window.open('projects/moonsplanets');" style="background-image : url('https://res.cloudinary.com/dqcldf509/image/upload/v1691445496/portfolio/Screenshot_2023-08-07_175354_oa8wts.png');background-size:cover"> 
         Moons and Planets <!-- <a routerLink="projects/moonsplanets" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank">Moons and Planets</a> -->
      </button>
      
   </div>

   <div class="center" onclick=" window.open('projects', '_self');">
        <button class="more">
         See More <!-- <a routerLink="projects" routerLinkActive="active" ariaCurrentWhenActive="page">See More</a> -->
        </button>
   </div>

   <h3> My Experience </h3>

   <div class="experience">

      <div class="column">
         <button #jobBtn1 class="job"> Job 1</button>
         <button #jobBtn2 class="job"> Job 2</button>
         <button #jobBtn3 class="job"> Job 3</button>
      </div>

      <div id="jobexplanations">
         <h3 #jobTitle id="jobTitle"> Job 1 </h3>
         <p #jobDate id="jobDate"> Date </p>
         <ul #jobP id="jobP"> </ul>
      </div>
   </div>

   <button class="more" onclick=" window.open('/resume', '_blank');">
      My Resume <!-- <a routerLink="resume" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank" >My Resume</a> -->
   </button>

   <h3 class="center"> Contact Me </h3>
   <p class="center">I would love to get in touch! You can reach me at <b>nayl@mcmaster.ca</b></p>

   <!-- <button #emailBtn class="more">Email</button> -->

   <p class="center end">Designed and Built by Leiah Nay</p>





</body>
</html>