
<html>
   <link href='https://fonts.googleapis.com/css?family=Yeseva One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

   <div>
      <div #header id="header" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1690400117/portfolio/logo_l9hcho.svg" alt="LN Logo" width="50px" height="50px">
         <button #menu class="menu open"> </button>
      </div>

      <div #dropdown id="dropdown" class="top">
         <img class="logo" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688696917/portfolio/big-logo_qst3yq.svg" alt="LN Logo" width="75px" height="75px">
         
         <div class="leftdrop">
            <button #menuExit class="menu exit"> </button>
         </div>

         <div id="dropbtns">
            <button class="dropbtn">
               <a href="https://github.com/leiah8" target="_blank">GitHub</a>
            </button>
            <button class="dropbtn">
                <a routerLink="resume" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank" >Resume</a>
            </button>
            <button class="dropbtn">
               <a href="https://www.linkedin.com/in/leiah-nay/" target="_blank">LinkedIn</a>
            </button>
         </div>

         <div class="leftdrop">
            <ul class="options">
               <li>
                  <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
               </li>
               <li>
                  <a routerLink="projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
               </li>
               <li>Experience</li>
               <li>Contact</li>
            </ul>
         </div>

      </div>
   </div>
   
<body>
   <h1>Leiah Soriya Nay</h1>

   <h3> A bit about me</h3>
   <div class="row one">
   <p id="intro">Hi! My name is Leiah and I'm in my third year of the 
      Computer Science Co-op program at McMaster University. 
      I fell in love with computer science in the tenth grade 
      and have since become proficient in languages such as 
      Java, Python, C, and Javascript. I have also thoroughly 
      studied OOP, various data structures and algorithms, 
      software development patterns, databases, and so much more. 
      I am particularly interested in learning more about cyber 
      security, cloud networks, and machine learning. 
   </p>
   <img class="selfie" src="https://res.cloudinary.com/dqcldf509/image/upload/v1688612751/portfolio/blank-img_gf81ej.svg" alt="Picture of Leiah Nay">
   </div>

   <h3> My Projects </h3>

   <div class="row three">
      <button class="project"> Project 1</button>
      <button class="project"> Project 2</button>
      <button class="project"> Project 3</button>
   </div>

   <div class="center">
        <button class="more">
         <a routerLink="projects" routerLinkActive="active" ariaCurrentWhenActive="page">See More</a>
        </button>
   </div>


   <div class="experience">

   <div>
   <h3> My Experience </h3>

   <div class="column">
      <button #jobBtn1 class="job"> Job 1</button>
      <button #jobBtn2 class="job"> Job 2</button>
      <button #jobBtn3 class="job"> Job 3</button>
   </div>
   </div>

   <div id="jobexplanations">
      <h3 #jobTitle id="jobTitle"> Job 1 </h3>
      <p #jobP > Explanation 1 or Bullet points??</p>
   </div>
   </div>

   <button class="more">
      <a routerLink="resume" routerLinkActive="active" ariaCurrentWhenActive="page" target="_blank" >My Resume</a>
   </button>

   <h3 class="center"> Get In Touch </h3>

   <button #emailBtn class="more">Email</button>

   <p class="center end">Designed and Built by Leiah Nay</p>





</body>
</html>