<!--<p>moons-planets works!</p>-->

<svg
   width="1280"
   height="720"
   viewBox="0 0 1280 720"
   version="1.1"
   id="svg5"
   inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
   sodipodi:docname="moons-planets-arena.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  
  <defs
     id="defs2">
     <image
        id="moon-outline"
        width="25"
        height="25"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685503857/moons-planets/moon-outline_sknj6t.svg"
      ></image> 
      <image
        id="moons-path"
        width="135"
        height="135"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685504559/moons-planets/moons-path_hbtva1.svg"
      ></image> 
      <image
        id="moon"
        width="25"
        height="25"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685045579/moons-planets/moon_pffq1i.svg"
      ></image> 
      <image
        id="arrow-up"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-up_dortwa.svg"
      ></image> 
      <image
        id="arrow-down"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-down_ubw6hs.svg"
      ></image> 
      <image
        id="arrow-left"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-left_i18frt.svg"
      ></image> 
      <image
        id="arrow-right"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-right_gshi7l.svg"
      ></image> 
      <image
        id="play-btn"
        width="70"
        height="70"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1683837963/minecart/play-btn_l7fmra.svg"
      ></image> 
      <image
        id="next-btn"
        width="70"
        height="70"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1684345848/minecart/next-btn_w5a1wr.svg"
      ></image> 
      <image
        id="retry-btn"
        width="70"
        height="70"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1684172086/minecart/RetryBtn_jhupgo_dxpfwi.svg"
      ></image> 
      <image
        id="planet1"
        width="55"
        height="55"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685115038/moons-planets/planet1_tgbbuj.svg"
      ></image> 
      <image
        id="planet2"
        width="55"
        height="55"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685115038/moons-planets/planet2_elu773.svg"
      ></image> 
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1" >
     <rect
       style="fill:#000028;fill-opacity:1;stroke:none;stroke-width:0.632564;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
       id="rect2852"
       width="1280"
       height="720"
       x="0"
       y="0"
       ry="1.1897796" />

     <g #arena id="arena"></g>
     <g #controls id="controls"></g>
     
  </g>
</svg>
