svg {
    width : 100vw;
    height : auto;
}

.rotateImg {
    width : 100vw;
    height : auto;

    margin: 0;
    position: absolute;
    top: 20%;
    

}

.mobile {
    display : none;
}



@media only screen and (max-width: 480px) {
    .mobile {
      display: block;
    }
    .not-mobile {
      display: none;
    }
}

/* @media only screen and (min-device-width: 481px) {
    .not-mobile {
      display: none;
    }
    .mobile {
      display: block;
    }
  } */