<html>
    <div id="container">
            <object id="myresume" class="pdf" data="/assets/LeiahNayResume.pdf" type="application/pdf">
                <embed class="pdf" src="https://leiah8.github.io/portfolio/assets/LeiahNayResume.pdf" type="application/pdf">
            </object>
    </div>
</html>

        <!-- <embed id="pdf" src="/assets/LeiahNayResume.pdf" type="application/pdf">  -->


<!-- not working on git -->
<!-- <object id="pdf" data="/assets/LeiahNayResume.pdf" type='application/pdf'>
    <p>Sorry, the PDF couldn't be displayed :( </p>
    <a href="/assets/LeiahNayResume.pdf" target="_blank">Click Here</a>
</object> -->



<!-- https://leiah8.github.io/portfolio/assets/LeiahNayResume.pdf -->
