<html>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<nav id="not-safari">

    <div id="container">
            <object id="myresume" class="pdf" data="/assets/LeiahNayResume.pdf" type="application/pdf">
                <embed class="pdf" src="https://leiah8.github.io/portfolio/assets/LeiahNayResume.pdf" type="application/pdf">
            </object>
        </div>
</nav>

<nav id="safari">
    <!-- <iframe id="myresume" class="pdf" src="/assets/LeiahNayResume.pdf" title="Resume"></iframe> -->
    <h3>An Error Occured with Safari</h3>
    <h3>Please redirect to this <a href="https://leiah8.github.io/portfolio/assets/LeiahNayResume.pdf">link</a> to see my resume.</h3>
</nav>
</html>

<!-- https://leiah8.github.io/portfolio/assets/LeiahNayResume.pdf -->
