<nav id="not-safari">
<html>
    <div id="container">
            <object id="myresume" class="pdf" data="/assets/LeiahNayResume.pdf" type="application/pdf">
                <embed class="pdf" src="https://leiah8.github.io/portfolio/assets/LeiahNayResume.pdf" type="application/pdf">
            </object>
        </div>
</html>
</nav>

<nav id="safari">
    <iframe id="myresume" class="pdf" src="/assets/LeiahNayResume.pdf" title="Resume"></iframe>
    <p>If PDF is not shown, please use this <a href="https://leiah8.github.io/portfolio/assets/LeiahNayResume.pdf">link</a>.</p>
</nav>

<!-- https://leiah8.github.io/portfolio/assets/LeiahNayResume.pdf -->
