svg {
    height : 100vh;
    width :auto
}

.playBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1683837963/minecart/play-btn_l7fmra.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 2vh;
    left: 2vh;  
    position: absolute;
  }

  .retryBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684172086/minecart/RetryBtn_jhupgo_dxpfwi.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 2vh;
    left: 2vh;  
    position: absolute;
  }

.nextBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684345848/minecart/next-btn_w5a1wr.svg");
    background-size: cover;
    width: 10vh;
    padding-bottom: 10vh;
    top: 88vh;
    left: 165vh;  
    position: absolute;
  }