svg {
    width : 100vw;
    height :auto
}

.playBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1683837963/minecart/play-btn_l7fmra.svg");
    background-size: cover;
    width: 5vw;
    padding-bottom: 5vw;
    top: 1vw;
    left: 1vw;  
    position: absolute;
  }

  .retryBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684172086/minecart/RetryBtn_jhupgo_dxpfwi.svg");
    background-size: cover;
    width: 5vw;
    padding-bottom: 5vw;
    top: 1vw;
    left: 1vw;  
    position: absolute;
  }

.nextBtn {
    background-image: url("https://res.cloudinary.com/dxltpgop9/image/upload/v1684345848/minecart/next-btn_w5a1wr.svg");
    background-size: cover;
    width: 5vw;
    padding-bottom: 5vw;
    top: 50vw;
    left: 94vw;  
    position: absolute;
  }


  .rotateImg {
    width : 100vw;
    height : auto;

    margin: 0;
    position: absolute;
    top: 20%;
    

}

.mobile {
    display : none;
}



@media only screen and (max-width: 480px) {
    .mobile {
      display: block;
    }
    .not-mobile {
      display: none;
    }
}