
<svg
   width="1280"
   height="720"
   viewBox="0 0 1280 720"
   version="1.1"
   id="svg5"
   inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
   sodipodi:docname="moons-planets-arena.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  
  <defs
     id="defs2">
     <image
        id="arrow-up"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-up_dortwa.svg"
      ></image> 
      <image
        id="arrow-down"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-down_ubw6hs.svg"
      ></image> 
      <image
        id="arrow-left"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-left_i18frt.svg"
      ></image> 
      <image
        id="arrow-right"
        width="50"
        height="50"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1685047560/moons-planets/arrow-right_gshi7l.svg"
      ></image> 
     <image
        id="empty-input"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687534417/flowers/Nice%20Art/empty-input_vha3jc.svg"
      ></image> 
      <image
        id="input-1"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687533880/flowers/Nice%20Art/flower1-sign_bri0q2.svg"
      ></image> 
      <image
        id="input-2"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687533880/flowers/Nice%20Art/flower2-sign_yhp6kj.svg"
      ></image> 
      <image
        id="input-3"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687533880/flowers/Nice%20Art/flower3-sign_yvw3j7.svg"
      ></image> 
      <image
        id="input-4"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687533882/flowers/Nice%20Art/flower4-sign_mhwpvl.svg"
      ></image> 
      <image
        id="vertical-divider"
        height="500"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686750888/flowers/ROpe_jpgv5w.svg"
      ></image> 
      <image
        id="horizontal-divider"
        width="500"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686750965/flowers/ROpe_lcxxgk.svg"
      ></image> 
      <!-- <image
        id="target"
        width="120"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686761907/flowers/flower-sign_lqnltu.svg"
      ></image>  -->
      <image
        id="pot"
        width="75"
        height="75"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687532932/flowers/Nice%20Art/pot_powgfw.svg"
      ></image> 
      <image
        id="pot-sign"
        width="120"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687534684/flowers/Nice%20Art/flower-sign_ffcuwd_g3worj.svg"
      ></image> 
      <image
        id="stem"
        width="120"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687535083/flowers/Nice%20Art/stem_nez8us.svg"
      ></image> 
      <image
        id="output-1"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687533880/flowers/Nice%20Art/flower1_zbcdkx.svg"
      ></image> 
      <image
        id="output-2"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687533880/flowers/Nice%20Art/flower2_igxfq1.svg"
      ></image> 
      <image
        id="output-3"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687533880/flowers/Nice%20Art/flower3_fnm2b7.svg"
      ></image> 
      <image
        id="output-4"
        width="25"
        height="35"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1687533882/flowers/Nice%20Art/flower4_wlwgot.svg"
      ></image> 
      <image
        id="el-center"
        width="40"
        height="40"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686843610/flowers/shovel_teyyfn.svg"
      ></image> 
      <image
        id="horizontal-div-center"
        width="40"
        height="40"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686844024/flowers/center-horizontal-rope_u3bnoe.svg"
      ></image> 
      <image
        id="vertical-div-center"
        width="40"
        height="40"
        href="https://res.cloudinary.com/dxltpgop9/image/upload/v1686844076/flowers/center-horizontal-rope_psotns.svg"
      ></image> 

  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1" >
     

     <g #arena id="arena">
      <rect
       style="fill:#3d8541;fill-opacity:1;stroke:none;stroke-width:0.632564;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000"
       id="rect2852"
       width="1280"
       height="720"
       x="0"
       y="0"
       ry="1.1897796" />
     </g>
     <g #input id="input">
      <g #rectangles id="rectangles"></g>
     </g>
     <g #anim id="anim"></g>
     
  </g>
</svg>

<div #playBtn class="playBtn"></div>
<div #nextBtn class="nextBtn"></div>
<div #retryBtn class="retryBtn"></div>
